In [47]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.neighbors import LocalOutlierFactor
%matplotlib inline
import math

In [48]:
df = pd.read_csv("../Raw Data/ModelDB grp by.csv")

In [49]:
df.head()

,T_index,C_index,Project Name,Year,Q,YYYYQQ,Avg_PSF,Vol,DPSF,DPSF_percent,Age_Q,Balas,Covid,MRT,Schools,PPI,DPPI,DPPI_percent,Test_Train
0,1,1,CAMELOT BY-THE-WATER,2002,2,2002Q2,740.00,1,0.00,0.000000,32,0.9500,0,0,0,81.4,-0.6,-0.007317,Train
1,2,2,CAMELOT BY-THE-WATER,2002,4,2002Q4,715.00,1,-25.00,-0.033784,34,0.9490,0,0,0,81.3,-0.3,-0.003676,Train
2,3,3,CAMELOT BY-THE-WATER,2003,2,2003Q2,663.25,4,-51.75,-0.072378,36,0.9480,0,0,0,80.2,-0.4,-0.004963,Train
3,4,4,CAMELOT BY-THE-WATER,2005,1,2005Q1,557.00,1,-106.25,-0.160196,43,0.9438,0,0,0,81.4,0.6,0.007426,Train
4,5,5,CAMELOT BY-THE-WATER,2005,3,2005Q3,632.00,4,75.00,0.134650,45,0.9423,0,0,0,83.1,1.2,0.014652,Train

In [80]:
df.groupby("Project Name").last()

,T_index,C_index,Year,Q,YYYYQQ,Avg_PSF,Vol,DPSF,DPSF_percent,Age_Q,Balas,Covid,MRT,Schools,PPI,DPPI,DPPI_percent,Test_Train
Project Name,,,,,,,,,,,,,,,,,,
CAMELOT BY-THE-WATER,49,49,2022,3,2022Q3,1746.33,3,40.33,0.023642,113,0.8688,1,1,0,181.6,7.7,0.044278,Test
CASUARINA COVE,114,65,2022,4,2022Q4,1422.00,1,-38.00,-0.026027,124,0.8540,1,1,0,182.1,0.5,0.002753,Test
COSTA RHU,134,20,2022,4,2022Q4,1423.44,9,-10.96,-0.007638,122,0.8570,1,0,0,182.1,0.5,0.002753,Test
COTE D'AZUR,153,19,2022,4,2022Q4,1600.80,5,-14.70,-0.009099,93,0.8938,1,1,1,182.1,0.5,0.002753,Test
DUNMAN VIEW,207,54,2022,3,2022Q3,1312.00,3,68.67,0.055228,107,0.8763,1,0,1,181.6,7.7,0.044278,Test
EAST BAY GARDENS,236,29,2022,3,2022Q3,869.50,2,-46.50,-0.050764,118,0.8625,1,1,0,181.6,7.7,0.044278,Test
KATONG PARK TOWERS,305,69,2017,3,2017Q3,991.25,4,71.25,0.077446,149,0.8165,0,1,0,134.5,0.8,0.005984,Test
LAGOON VIEW,405,100,2022,4,2022Q4,1148.00,2,8.33,0.007312,189,0.7608,1,1,0,182.1,0.5,0.002753,Test
LAGUNA PARK,500,95,2022,4,2022Q4,1082.67,3,-138.33,-0.113295,191,0.7583,1,1,0,182.1,0.5,0.002753,Test
LEGENDA AT JOO CHIAT,556,56,2022,4,2022Q4,1305.00,2,144.00,0.124031,94,0.8925,1,0,0,182.1,0.5,0.002753,Test
MANDARIN GARDENS,575,19,2022,4,2022Q4,1227.33,3,7.58,0.006217,171,0.7863,1,0,0,182.1,0.5,0.002753,Test
NEPTUNE COURT,681,106,2022,4,2022Q4,989.17,6,-32.50,-0.031811,196,0.7520,1,0,0,182.1,0.5,0.002753,Test
PEBBLE BAY,700,19,2022,4,2022Q4,1707.75,4,31.18,0.018597,123,0.8555,1,1,0,182.1,0.5,0.002753,Test
RIVEREDGE,747,47,2022,4,2022Q4,1622.50,4,81.00,0.052546,83,0.9063,1,0,0,182.1,0.5,0.002753,Test
ROXY SQUARE,768,21,2021,2,2021Q2,1394.00,1,394.00,0.394000,112,0.8700,1,1,0,158.8,1.7,0.010821,Test
SANCTUARY GREEN,785,17,2022,4,2022Q4,1566.20,5,115.60,0.079691,111,0.8713,1,1,0,182.1,0.5,0.002753,Test
SEASIDE PARK,792,7,2018,3,2018Q3,1247.00,1,186.00,0.175306,222,0.7150,0,0,0,146.1,0.0,0.000000,Test
SEASIDE RESIDENCES,795,3,2022,4,2022Q4,2170.29,7,79.95,0.038249,34,0.9490,1,1,0,182.1,0.5,0.002753,Test
SILVERSEA,824,29,2022,4,2022Q4,2263.00,1,313.00,0.160513,69,0.9210,1,0,1,182.1,0.5,0.002753,Test
TANJONG RIA CONDOMINIUM,899,75,2022,4,2022Q4,1392.00,2,61.00,0.045830,126,0.8495,1,1,0,182.1,0.5,0.002753,Test
THE RED HOUSE,903,4,2022,3,2022Q3,1430.50,2,-72.00,-0.047920,50,0.9380,1,0,0,181.6,7.7,0.044278,Test
THE SHORE RESIDENCES,936,33,2022,4,2022Q4,1767.00,1,-82.25,-0.044477,61,0.9283,1,0,1,182.1,0.5,0.002753,Test
VILLA MARINA,954,18,2022,4,2022Q4,1150.33,6,-59.67,-0.049311,119,0.8613,1,1,0,182.1,0.5,0.002753,Test
WATER PLACE,972,18,2022,4,2022Q4,1577.25,4,7.58,0.004831,107,0.8763,1,1,0,182.1,0.5,0.002753,Test

In [50]:
condo = "THE SHORE RESIDENCES"
condo_df = df[df["Project Name"]==condo]
condo_df.tail()

,T_index,C_index,Project Name,Year,Q,YYYYQQ,Avg_PSF,Vol,DPSF,DPSF_percent,Age_Q,Balas,Covid,MRT,Schools,PPI,DPPI,DPPI_percent,Test_Train
931,932,29,THE SHORE RESIDENCES,2021,4,2021Q4,1713.90,10,23.65,0.013992,57,0.9320,1,0,1,168.4,8.5,0.053158,Test
932,933,30,THE SHORE RESIDENCES,2022,1,2022Q1,1701.13,8,-12.78,-0.007454,58,0.9310,1,0,1,167.9,-0.5,-0.002969,Test
933,934,31,THE SHORE RESIDENCES,2022,2,2022Q2,1747.42,12,46.29,0.027212,59,0.9300,1,0,1,173.9,6.0,0.035736,Test
934,935,32,THE SHORE RESIDENCES,2022,3,2022Q3,1849.25,4,101.83,0.058277,60,0.9290,1,0,1,181.6,7.7,0.044278,Test
935,936,33,THE SHORE RESIDENCES,2022,4,2022Q4,1767.00,1,-82.25,-0.044477,61,0.9283,1,0,1,182.1,0.5,0.002753,Test

### Extract coefficients of best model

In [51]:
coeff_df = pd.read_csv("../Results/coeff.csv", index_col=".id")
coeff_df.head()

,(Intercept),DPPI_percent,log(Age_Q),MRT,DPPI_percent:log(Age_Q),DPPI_percent:MRT,log(Vol),DPPI_percent:log(Vol),Covid,DPPI_percent:Covid,log(Vol):log(Age_Q),log(Age_Q):log(Vol)
.id,,,,,,,,,,,,
CAMELOT BY-THE-WATER,-0.413722,38.929161,0.103842,-0.047989,-9.338691,7.782086,0.000000,0.000000,0.0,0.0,0.0,0.0
CASUARINA COVE,-0.000514,1.671678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
COSTA RHU,-0.082187,1.637323,0.000000,0.000000,0.000000,0.000000,0.079381,-2.351698,0.0,0.0,0.0,0.0
COTE D'AZUR,0.012270,-0.280068,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
DUNMAN VIEW,0.001045,1.026282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [52]:
condo_coeff = np.array(coeff_df.loc[condo])
condo_coeff

array([-1.20598755e-01, -7.08414570e+01,  2.67288599e-02,  0.00000000e+00,
        1.94686906e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        3.26991689e-02, -7.21208533e+00,  0.00000000e+00,  0.00000000e+00])

### Extract metrics

In [65]:
metrics_df = pd.read_csv("../Results/metrics.csv")
metrics_df.head()

             Unnamed: 0  Adj R2 (training)  RMSE (testing)  RMSE (training)
0  CAMELOT BY-THE-WATER           0.146000        0.198368         0.104957
1        CASUARINA COVE           0.299067        0.058404         0.100669
2             COSTA RHU           0.116697        0.085410         0.066546
3           COTE D'AZUR          -0.074382        0.033903         0.106933
4           DUNMAN VIEW           0.170694        0.037612         0.079048

In [66]:
condo_metrics_df = metrics_df[metrics_df.iloc[:, 0]==condo]
condo_metrics_df.head()

              Unnamed: 0  Adj R2 (training)  RMSE (testing)  RMSE (training)
18  THE SHORE RESIDENCES           0.214428        0.039165         0.039478

In [87]:
RMSE_testing = float(condo_metrics_df["RMSE (testing)"])
RMSE_training = float(condo_metrics_df["RMSE (training)"])
print(RMSE_testing, RMSE_training)

0.0391653278935079 0.0394775304872373

### Get necessary values from historical data

In [15]:
mean_dppi_percent = condo_df["DPPI_percent"].mean()
mean_dppi_percent

0.007069772060606061

In [16]:
mean_vol = condo_df["Vol"].mean()
mean_vol

4.696969696969697

In [60]:
psf_latest = condo_df["Avg_PSF"].iloc[-1]

In [61]:
age_q_prev = condo_df["Age_Q"].iloc[-1]
covid = 0
MRT = condo_df["MRT"].iloc[-1]
schools = condo_df["Schools"].iloc[-1]
year_prev = condo_df["Year"].iloc[-1]
q_prev = condo_df["Q"].iloc[-1]

psf_prev = psf_latest
print(age_q_prev, covid, MRT, schools, year_prev, q_prev, psf_prev)

61 0 0 1 2022 4 1767.0

In [18]:
var_list = list(coeff_df.columns)
var_list

['(Intercept)',
 'DPPI_percent',
 'log(Age_Q)',
 'MRT',
 'DPPI_percent:log(Age_Q)',
 'DPPI_percent:MRT',
 'log(Vol)',
 'DPPI_percent:log(Vol)',
 'Covid',
 'DPPI_percent:Covid',
 'log(Vol):log(Age_Q)',
 'log(Age_Q):log(Vol)']

In [19]:
var_array = np.array([1, 
                      mean_dppi_percent, 
                      math.log(age_q_prev),
                      MRT,
                      mean_dppi_percent*math.log(age_q_prev),
                      mean_dppi_percent*MRT,
                      math.log(mean_vol), 
                      mean_dppi_percent*math.log(mean_vol), 
                      covid,
                      mean_dppi_percent*covid,
                      math.log(mean_vol)*math.log(age_q_prev),
                      math.log(age_q_prev)*math.log(mean_vol)
                     ])
var_array

array([1.        , 0.00706977, 4.11087386, 0.        , 0.02906294,
       0.        , 1.54691756, 0.01093635, 0.        , 0.        ,
       6.35918295, 6.35918295])

In [20]:
delta_psf_pred = np.matmul(var_array.T, condo_coeff)
delta_psf_pred

0.05426467179149175

calculate predicted price, upper bound, lower bound, risk score

In [62]:
psf_pred = psf_prev*(1 + delta_psf_pred)
psf_pred

1862.8856750555658

In [63]:
UB = psf_prev*(1 + delta_psf_pred + 1.96*RMSE_training)
LB = psf_prev*(1 + delta_psf_pred - 1.96*RMSE_training)
print(UB, LB)

18    1999.608996
Name: RMSE (training), dtype: float64 18    1726.162354
Name: RMSE (training), dtype: float64

In [76]:
profit = (psf_pred - psf_latest)/psf_latest
profit

0.05426467179149168

calculate risk

In [77]:
quarters_with_records = condo_df.count()[0]
quarters_with_records

33

In [78]:
risk = ((UB-LB)*RMSE_testing)/quarters_with_records
risk

18    0.324534
dtype: float64

In [79]:
property_score = profit/risk
property_score

18    0.167208
dtype: float64

### Cleanup of above lines to generate prediction for a single condo

In [88]:
def predict_condo(condo:str, n:int, df:pd.DataFrame, coeff_df:pd.DataFrame, metrics_df: pd.DataFrame):
    """
    Input: 
    condo: name of condo
    n: number of quarters to predict forward into
    df: dataframe of historical data
    coeff_df: dataframe containing coefficients of the condos
    metrics_df: dataframe containing metrics of regression of the condos
    
    
    Output:
    append to predict_dict
    """


    if condo == "District 15":
        condo_df = df.groupby("Project Name").last()
        year_prev = 2022  # update in the future
        q_prev = 4   # update in the future
        
        # starting changing variables
        age_q_prev = condo_df["Age_Q"].mean()  # assume as mean
        MRT = 1   # assume near school and mrt
        schools = 1   
        
        psf_latest = condo_df["Avg_PSF"].mean()  # assume as mean
        psf_prev = psf_latest
        
    else:
        condo_df = df[df["Project Name"]==condo]
        year_prev = condo_df["Year"].iloc[-1]
        q_prev = condo_df["Q"].iloc[-1]
        
        # starting changing variables
        age_q_prev = condo_df["Age_Q"].iloc[-1]
        MRT = condo_df["MRT"].iloc[-1]
        schools = condo_df["Schools"].iloc[-1]
        
        psf_latest = condo_df["Avg_PSF"].iloc[-1]
        psf_prev = psf_latest

    
    # starting fixed variables
    mean_dppi_percent = condo_df["DPPI_percent"].mean()
    mean_vol = condo_df["Vol"].mean()
    covid = 0    

    condo_metrics_df = metrics_df[metrics_df.iloc[:, 0]==condo]
    RMSE_testing = float(condo_metrics_df["RMSE (testing)"])
    RMSE_training = float(condo_metrics_df["RMSE (training)"])
    quarters_with_records = condo_df.count()[0]
    
    # fixed coeffs
    condo_coeff = np.array(coeff_df.loc[condo])

    # predict n number of quarters into the future
    for i in range(n):
        # update changing variables
        age_q_prev += 1
        if q_prev < 4:
            q_prev += 1
        else:
            q_prev = 1
            year_prev += 1

        # changing var_array
        var_array = np.array([1, 
                      mean_dppi_percent, 
                      math.log(age_q_prev),
                      MRT,
                      mean_dppi_percent*math.log(age_q_prev),
                      mean_dppi_percent*MRT,
                      math.log(mean_vol), 
                      mean_dppi_percent*math.log(mean_vol), 
                      covid,
                      mean_dppi_percent*covid,
                      math.log(mean_vol)*math.log(age_q_prev),
                      math.log(age_q_prev)*math.log(mean_vol)
                     ])
        delta_psf_pred = np.matmul(var_array.T, condo_coeff)
        
        psf_pred = psf_prev*(1 + delta_psf_pred)
        UB = psf_prev*(1 + delta_psf_pred + 1.96*RMSE_training)
        LB = psf_prev*(1 + delta_psf_pred - 1.96*RMSE_training)
        
        profit = (psf_pred - psf_latest)/psf_latest
        risk = ((UB-LB)*RMSE_testing)/quarters_with_records
        property_score = profit/risk
        
        # update psf_prev
        psf_prev = psf_pred

        # update prediction dictionary
        predict_dict["Project Name"].append(condo)
        predict_dict["delta_psf_pred"].append(delta_psf_pred)
        predict_dict["PSF_pred"].append(psf_pred)
        predict_dict["UB"].append(UB)
        predict_dict["LB"].append(LB)
        predict_dict["Profit"].append(profit)
        predict_dict["Risk"].append(risk)
        predict_dict["Property Score"].append(property_score)
        
        predict_dict["Year"].append(year_prev)
        predict_dict["Q"].append(q_prev)
        predict_dict["YYYYQQ"].append(f"{year_prev}Q{q_prev}")
        predict_dict["Mean DPPI_percent"].append(mean_dppi_percent)
        predict_dict["Mean Vol"].append(mean_vol)
        predict_dict["Age_Q"].append(age_q_prev)
        predict_dict["Covid"].append(covid)
        predict_dict["MRT"].append(MRT)
        predict_dict["Schools"].append(schools)

In [89]:
# cleaned function code to run prediction on a single condo

# dict to store results of prediction
predict_dict = {"Project Name": [], "delta_psf_pred":[], "PSF_pred":[], "UB":[], "LB":[], "Profit":[], "Risk":[], "Property Score":[],
                "Year":[], "Q":[], "YYYYQQ":[], 
                "Mean DPPI_percent":[], "Mean Vol":[], 
                "Age_Q":[], "Covid":[], "MRT":[], "Schools":[]}

df = pd.read_csv("../Raw Data/ModelDB grp by.csv")
coeff_df = pd.read_csv("../Results/coeff.csv", index_col=".id")
metrics_df = pd.read_csv("../Results/metrics.csv")

predict_condo("THE SHORE RESIDENCES", 40, df, coeff_df, metrics_df)

pd.DataFrame(predict_dict).head()

,Project Name,delta_psf_pred,PSF_pred,UB,LB,Profit,Risk,Property Score,Year,Q,YYYYQQ,Mean DPPI_percent,Mean Vol,Age_Q,Covid,MRT,Schools
0,THE SHORE RESIDENCES,0.056937,1867.608354,2004.331675,1730.885033,0.056937,0.324534,0.175443,2023,1,2023Q1,0.00707,4.69697,62,0,0,1
1,THE SHORE RESIDENCES,0.059567,1978.856792,2123.364781,1834.348803,0.119896,0.343012,0.349539,2023,2,2023Q2,0.00707,4.69697,63,0,0,1
2,THE SHORE RESIDENCES,0.062156,2101.854327,2254.970270,1948.738383,0.189504,0.363445,0.521412,2023,3,2023Q3,0.00707,4.69697,64,0,0,1
3,THE SHORE RESIDENCES,0.064704,2237.853229,2400.486225,2075.220233,0.266470,0.386035,0.690276,2023,4,2023Q4,0.00707,4.69697,65,0,0,1
4,THE SHORE RESIDENCES,0.067214,2388.267697,2561.423738,2215.111655,0.351595,0.411013,0.855434,2024,1,2024Q1,0.00707,4.69697,66,0,0,1

In [90]:
condo_names = list(coeff_df.index)
condo_names

['CAMELOT BY-THE-WATER',
 'CASUARINA COVE',
 'COSTA RHU',
 "COTE D'AZUR",
 'DUNMAN VIEW',
 'EAST BAY GARDENS',
 'KATONG PARK TOWERS',
 'LAGOON VIEW',
 'LAGUNA PARK',
 'LEGENDA AT JOO CHIAT',
 'MANDARIN GARDENS',
 'NEPTUNE COURT',
 'PEBBLE BAY',
 'RIVEREDGE',
 'ROXY SQUARE',
 'SANCTUARY GREEN',
 'SILVERSEA',
 'TANJONG RIA CONDOMINIUM',
 'THE SHORE RESIDENCES',
 'VILLA MARINA',
 'WATER PLACE',
 'District 15']

### Looping through all condos

In [93]:
# dict to store results of prediction
predict_dict = {"Project Name": [], "delta_psf_pred":[], "PSF_pred":[], "UB":[], "LB":[], "Profit":[], "Risk":[], "Property Score":[],
                "Year":[], "Q":[], "YYYYQQ":[], 
                "Mean DPPI_percent":[], "Mean Vol":[], 
                "Age_Q":[], "Covid":[], "MRT":[], "Schools":[]}


df = pd.read_csv("../Raw Data/ModelDB grp by.csv")
coeff_df = pd.read_csv("../Results/coeff.csv", index_col=".id")
metrics_df = pd.read_csv("../Results/metrics.csv")

for condo in condo_names:
    predict_condo(condo, 50, df, coeff_df, metrics_df)

predict_df = pd.DataFrame(predict_dict)
predict_df

,Project Name,delta_psf_pred,PSF_pred,UB,LB,Profit,Risk,Property Score,Year,Q,YYYYQQ,Mean DPPI_percent,Mean Vol,Age_Q,Covid,MRT,Schools
0,CAMELOT BY-THE-WATER,0.081150,1888.045492,2247.294230,1528.796754,0.081150,2.908714,0.027899,2022,4,2022Q4,0.020571,2.530612,114.000000,0,1,0
1,CAMELOT BY-THE-WATER,0.080380,2039.805878,2428.207819,1651.403938,0.168053,3.144758,0.053439,2023,1,2023Q1,0.020571,2.530612,115.000000,0,1,0
2,CAMELOT BY-THE-WATER,0.079615,2202.205954,2621.827496,1782.584411,0.261048,3.397532,0.076835,2023,2,2023Q2,0.020571,2.530612,116.000000,0,1,0
3,CAMELOT BY-THE-WATER,0.078858,2375.867177,2828.897080,1922.837274,0.360492,3.668029,0.098279,2023,3,2023Q3,0.020571,2.530612,117.000000,0,1,0
4,CAMELOT BY-THE-WATER,0.078107,2561.438293,3050.193159,2072.683427,0.466755,3.957281,0.117948,2023,4,2023Q4,0.020571,2.530612,118.000000,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,District 15,0.011649,2463.733287,3022.835034,1904.631540,0.718618,4.684104,0.153416,2034,2,2034Q2,0.010030,3.375000,166.166667,0,1,1
1096,District 15,0.011641,2492.413298,3058.027803,1926.798792,0.738625,4.738667,0.155872,2034,3,2034Q3,0.010030,3.375000,167.166667,0,1,1
1097,District 15,0.011633,2521.408001,3093.606754,1949.209248,0.758850,4.793830,0.158297,2034,4,2034Q4,0.010030,3.375000,168.166667,0,1,1
1098,District 15,0.011626,2550.720730,3129.575977,1971.865484,0.779298,4.849597,0.160693,2035,1,2035Q1,0.010030,3.375000,169.166667,0,1,1
1099,District 15,0.011618,2580.354851,3165.939603,1994.770100,0.799970,4.905976,0.163060,2035,2,2035Q2,0.010030,3.375000,170.166667,0,1,1

In [94]:
predict_df.to_excel("../Results/prediction.xlsx", index=False)